@import "root.css";

/* Main */
.main {
	width: 100%;
	height: auto;
}

/* Admin */
.sign-admin {
	display: flex;
	justify-content: center;
}
.admin-page .sign {
	margin-bottom: 50px;
}
.admin {
	width: 100%;
	height: auto;

	border-radius: 5px;
	color: var(--gym--color_white--EE);
	background-color: var(--gym--color_black--24);
}

.admin-header {
	width: 100%;
	height: 55px;
	display: grid;
	align-items: center;
	justify-content: center;
}

.admin-header > h2 {
	font-size: var(--gym--font_size--medium_bold-v1);
	color: var(--gym--color_blue--00);
}


/* Admin main */
.admin-main {
	width: 100%;
	min-height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
}
.users-table,
.orders-table {
	padding: 10px;

}

table {
	width: 100%;
}	

table, td, tr, th {
	border: 1px solid black
}

.btn-admin {
	padding: 10px 20px;
	background-color: var(--gym--color_blue--00);
}
.btn-admin:active {
	background-color: rgb(28, 83, 172);
}
.invisble {
	display: none;
}
